{%extends 'base.html'%}
{% load static %}
{% block title %}
 Aboutus
{% endblock%}
{% block x %}

<div class="row">
<div class="col-sm-2"></div>
        <!--start card-->

    <div class="col-sm-8">



                <h5 class="card-title text-center fs-3">About Our News</h5>
        <p class="card-text">Mumbai : Traffic police have announced that 74 city roads will be kept shut on Ganpati idol immersion day on September 9. Around 10,600 traffic policemen, home guards, traffic wardens, civil defence personnel, NSS and Road Safety Patrol volunteers will be deployed to manage crowds during immersion. Various NGOs will also assist the police besides volunteers from water safety patrol.
“From 10am on September 9 to 6am on September 10, 74 roads will be kept shut, 54 roads will be made one way, goods vehicles will be banned on 57 roads and parking restrictions will be imposed at 114 places," said a traffic police officer.
Key roads that will be closed include Sandhurst Road from Marine Drive to its Junction with Opera House and further up to its junction with Prarthana Samaj; Wadi Bunder bridge will be closed, West to East; JSS Road from Princess Street to Thakurdwar Junction; CP Tank Road from Madhav Baug to CP Tank Circle; Nanubhai Desai Road will be totally closed; Pandita Ramabai Marg from its junction with NA Purandare Marg to Hughes Road; and Claire Road from Khada Parsi Junction to Nagpada Junction, among others.
Key roads that will be oneway include Mahapalika Marg, which will be closed for northbound traffic from CSMT junction to Metro Cinema junction —the north-bound traffic will be diverted through DN Road and south-bound from Metro Cinema junction to CSMT will be operated one-way on Mahapalika Marg; Walkeshwar Road will be closed for traffic proceeding down the hill from Teen Batti to Bandstand, except for BEST buses; Tilak Marg will be closed from Dadar TT Junction to Kotwal Garden; Linking Road south bound will be closed from Santacruz police station junction to Khar subway junction and south-bound vehicles diverted from left side on the north bound; and Marve Road up to Mith Chowki (north bound). Parking prohibitions include SS Road from Princess Street Junction to Thakurdwar Junction; VP Road from CP Tank circle to Bhalchandra Company, among others.
Meanwhile, in view of a heavy rush at Charni Road, a few AC local trains will run as nonAC locals from the evening of September 9 till September 10 morning.</p>


      </div>
    <div class="col-sm-2"></div>

  </div>
    <div class="col-sm-2"></div>
        <!--end card-->


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

        <h2 class="text-center ">We<b>Believe</b></h2>
        <h5 class="">Our Vision</h5>
        <p>Thane : A minor boy was feared swept away in a swollen

            downstream at Parsik hills while three others suffered injuries in various rain related

            mishaps in Thane, officials informed Thursday evening after torrential rains hit the area.

            The boy and a man, both residents of Bhaskar Nagar in Kalwa east were taken unawares and got swept in a

            gush of water than came down the Parsik hills following the heavy rains late Thursday

            evening. “While the man was rescued, the minor boy is still missing. Authorities have been

            alerted about the incident,” informed Milind Patil, former NCP corporator from Kalwa. Two

            houses have also suffered damages in the neighbouring Gholai Nagar area, added Patil.

            However, the civic officials were yet to confirm the incidents at the time of filing this

            report. Meanwhile, a 22-yearold two storeyed building in Mahatma Phule Nagar in Thane was

            evacuated after a portion of the structure started sinking late Thursday due to heavy

            rains. In another incident, two residents were injured after their house wall collapsed in Ram Nagar area.
<h5 class="fs-3">Supreme Court</h5>
            Supreme Court stays demolition of Curlie's restaurant in Goa
            The Supreme Court on Friday stayed the demolition of Curlie's restaurant in Goa. Earlier,
            the National Green Tribunal (NGT) had ordered the restaurant's demolition, alleging that
            it was flouting the coastal zone regulation. The restaurant recently came in the news for
            its link to the death of BJP leader Sonali Phogat. It was alleged that Phogat was drugged
            at a party at the restaurant, hours before her death.
<h5 class="fs-3">Apple CEO Tim Cook's fix for those pesky green text bubbles? 'Buy your mom an iPhone'</h5>

            Sorry, Android users.

Those green bubbles that appear around text messages you send to your friends and family with iPhones don't appear to be going away anytime soon.

Apple CEO Tim Cook seemed to reject the idea of adopting a new messaging protocol on the company's devices that would make communicating with Android users smoother.

"I don't hear our users asking that we put a lot of energy in on that at this point," Cook said about implementing the RCS standard on iPhones, according to The Verge. He was speaking during Vox Media's Code 2022 event on Wednesday.

Apple uses its own iMessage service.

When Vox Media's LiQuan Hunt complained to Cook that his mother couldn't see the videos he sent her because they had different phones, the Apple chief replied: "Buy your mom an iPhone."

The blue and green bubbles, explained
In the early days of mobile messaging, cell phone users could send each other short text messages of no more than 160 characters. That was called SMS, or Short Message Service.

MMS, or Multimedia Message Service, built on that by allowing users to send a photo or short video.

Now texting is much more than that. That's where RCS – which stands for Rich Communication Services – comes in.

RCS is a new messaging standard used by Google and other telecom companies that supports group chats and read receipts, lets users send higher quality photos and videos and has end-to-end encryption, among other features.

If it sounds a lot like iMessage, that's because it is.

But iMessage is only available to Apple users. When an Android user texts someone with an iPhone, their message appears as an SMS or MMS message, because Apple doesn't support RCS,Hence the pixelated images and buggy group chats.

Texts sent via iMessage show up as blue bubbles on iPhones, while their SMS/MMS counterparts are green.

Google rolled out RCS for Android users in the U.S. in 2019. The company has launched a PR campaign aimed at shaming Apple into adopting RCS, but so far the iPhone maker hasn't budged.

Internal Apple emails showed executives arguing that allowing iMessage on Android devices would "hurt us more than help us" and that restricting the app to Apple users had a "serious lock-in" effect, according to The Verge.

    </div>
        <div class="col-sm-2"></div>
</div>

{% endblock %}