{% extends 'base.html'%}
 {% block x %}
  <div class="fs-2 text-center"> Contact<b class="text-mycolor">Us</b>
  <i class="fa-solid fa-location-dot"></i>
  </div>
<div class="row">
 <div class="col-sm-1"></div>

 <div class="col-sm-5">
  {% if msg %}
  <div class=" alert alert-success">
   your data saved successfuly....
  </div>
  {% endif %}
  <form method="post">
   {% csrf_token %}
   <div class="input-group mb-3">
    <i class="input-group-text bg-mycolor text-light">
     <i class="fa-solid fa-user"></i></i>
    <input name="name" required type="text" class="form-control" placeholder="Name."/>
   </div>
    <div class="input-group mb-3">
    <i class="input-group-text bg-mycolor text-light">
     <i class="fa-solid fa-envelope"></i></i>
    <input name="email" required type="text" class="form-control" placeholder="Email."/>
   </div>
    <div class="input-group mb-3">
    <i class="input-group-text bg-mycolor text-light">
     <i class="fa-solid fa-message"></i></i>
    <input name="mob" type="text" required class="form-control" placeholder="Mobile."/>
   </div>
    <div class="input-group mb-3">
    <i class="input-group-text bg-mycolor text-light">
     <i class="fa-solid fa-message"></i></i>
    <input name="msg" required type="text" class="form-control" placeholder="Message."/>
   </div>
     <input type="submit" value="save" class="form-control bg-mycolor">
  </form>
  <div class="alert alert-success">

     <!-- Name Is :{{Name}}<br/>
      Email Is :{{Email}}<br/>
      Mobile Is :{{Mobile}}<br/>
      Message Is :{{Message}}<br/> -->
  </div>
 </div>
    <div class="col-sm-2"></div>
 <div class="col-sm-4">

                <div class="col contactLocation">
                    <h4 class="divHeading">Contact Info</h4>
                    <div class="contact" >
                        <i class="fas fa-map-marker-alt"></i>
                        <strong class="text-mycolor">Office Address</strong>
                        <p>
                            7/8 khimji nagji chwal <br>
                            s/b Road<br>
                            Lower parel,Mumbai <br>
                            Maharestra 4000 13
                        </p>
                    </div>
                    <div class="contact">
                        <i class="fas fa-phone-alt"></i>
                        <strong>Call Us</strong>
                        <p>
                            <a href="tel:+91 7007237006">+91 9870740944</a>
                            <a href="tel:+91 8052978684">+91 9167294551</a>
                        </p>
                    </div>
                    <div class="contact">
                        <i class="far fa-envelope"></i>
                        <strong>Mail Us</strong>
                        <p>
                            <a href="mailto:techpilelko@gmail.com">adeshyadavkads@gmail.com</a>

                        </p>
                    </div>
                </div>

  </div>
 <div class="col-sm-1"></div>
    <div class="container-fluid newSection">
    <h3 class="sectionTitle">Find us on <span class="themeText">Google Map</span></h3>
    <p class="sectionContent">
        View us on google map easily
    </p>
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.1588441496056!2d80.96423161504458!3d26.898453483133807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39995785d5f7f1a5%3A0xffa47f1efe103f0d!2sTechpile+Technology+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1539247368696" frameborder="0" height="300px" width="100%" style="border:0" allowfullscreen=""></iframe>
    </div>
</div>


{% block title %}
  contact
 {% endblock %}
 {% endblock %}
</div>