{% extends "base.html" %}
{% load static %}
{% block title %}
  gallery
 {% endblock %}
{% block x %}


<div class="fs-2 text-center">gallery<b class="text-mycolor">in</b></div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"></div>
    <div class="row">
        {% if data %}

        {% for x in data %}
        <div class="col-sm-4">
            <!--start card-->
            <div class="card" style="width: 18rem;">
  <img src="/{{x.gpic}}" class="card-img-top sicon" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{x.gname}}</h5>

  </div>
</div>
            <!--end card-->
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}